[Desktop Entry]
Type=Application
Name=RC
Comment=Memory structure reverse engineering tool
Exec=RC
Icon=rc
Categories=Development;Debugger;
Terminal=false
