[Desktop Entry]
Type=Application
Name=REECLASS
Comment=Memory structure reverse engineering tool
Exec=REECLASS
Icon=reeclass
Categories=Development;Debugger;
Terminal=false
